[{{"DEBUG"|gray}}] Docker: {{$padding := 16}}
{{pad $padding "Version"}}: {{.DockerVersion.Version}}
{{pad $padding "API Version"}}: {{.DockerVersion.APIVersion}}
{{pad $padding "OS"}}: {{.DockerVersion.Os}}-{{.DockerVersion.Arch}} ({{.DockerVersion.KernelVersion}})

[{{"DEBUG"|gray}}] Docker Compose:
       Config: {{.ComposePath}}
    Variables:
{{- range .Variables.List}}
        {{pad 30 .Name}} = {{.Value}}
{{- end}}

{{ template "hooks.tmpl" .Profile }}
