[{{"INFO"|cyan}}] Dev Environment for {{if .DisplayName}}{{.DisplayName}}{{else}}{{.Name}}{{end}}
{{pad 20 "Service"}}    {{pad -12 "Version" }} {{pad -20 "Image:Tag"}}
{{- range .Services}}
{{pad 20 .DisplayName}}    {{pad -12 .DisplayVersion }} {{pad -20 .Image }}
{{- end}}

[{{"INFO"|cyan}}] Data Volumes:
{{- range .Services}}
{{- range .Mounts}}
    - {{.}}
{{- end}}
{{- end}}

